:root{
    /* 担当 */
    --primary-color: #B63B40;
    --secondary-color: #B6DDE4;

    /* 好き（みんな好き） */
    --brack: #515558;
    --white: #FBFAFA;

    --text-underline-offset: 3px;
}
body{
    color: var(--brack);
    background-color: var(--white);
    line-height: 1.8;
}
h1{
    font-size: 1.7em;
    margin-bottom: 0.4em;
    padding: 8px 0;
    background-color: color-mix(in srgb, var(--secondary-color) 60%,var(--white));
}
h2{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    padding: 3px 5px;
    border-bottom: 3px dashed var(--secondary-color);
}
h3{
    font-size: 1.3em;
    padding-left: 5px;
    border-left: 8px solid var(--secondary-color);
}
hr{
    color: color-mix(in srgb, var(--brack) 60%, var(--secondary-color));
}
p{
    margin-bottom: 0.3em;
}
a{
    --link-color: color-mix(in srgb, var(--primary-color) 70%, var(--brack));
    --icon-size: 1.25em;
    text-underline-offset: var(--text-underline-offset);
    color: var(--link-color);

    &:hover{
        opacity: 0.75;
    }

    &[class*="icon-"]{
        display: flex;
        align-items: center;

        &::after{
            display: block;
            content: '';
            width: var(--icon-size);
            height: var(--icon-size);
            background-size: var(--icon-size);
            margin-top: var(--text-underline-offset);
            margin-left: 4px;

            @media screen and (max-width:480px){
                display: none;
            }
        }
    }
    /*
     * Tabler Icons | https://github.com/tabler/tabler-icons | MIT license
     */
    & svg{
        width: var(--icon-size);
        height: var(--icon-size);
        stroke: var(--link-color);
        margin-top: var(--text-underline-offset);
        margin-left: 4px;
    }
    &.icon-github::after{
        background-image: url("data:image/svg+xml,%3C!--%0Atags: %5Blogo, website, hosting, project, programming, software, development%5D%0Acategory: Brand%0Aversion: '1.18'%0Aunicode: 'ec1c'%0A--%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5' /%3E%3C/svg%3E%0A");
    }
    &.icon-cloudflare::after{
        background-image: url("data:image/svg+xml,%3C!--%0Atags: %5Bcloudflare, web, security, content, delivery, ddos, protection, network, internet, performance, firewall, cdn, website%5D%0Acategory: Brand%0Aversion: '2.16'%0Aunicode: 'fa4e'%0A--%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M13.031 7.007c2.469 -.007 3.295 1.293 3.969 2.993c4 0 4.994 3.825 5 6h-20c-.001 -1.64 1.36 -2.954 3 -3c0 -1.5 1 -3 3 -3c.66 -1.942 2.562 -2.986 5.031 -2.993z' /%3E%3Cpath d='M12 13h6' /%3E%3Cpath d='M17 10l-2.5 6' /%3E%3C/svg%3E%0A");
    }
    &.icon-wordpress::after{
        background-image: url("data:image/svg+xml,%3C!--%0Atags: %5Blogotype, web, website, glyph, social%5D%0Acategory: Brand%0Aversion: '1.82'%0Aunicode: 'f2d3'%0A--%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M9.5 9h3' /%3E%3Cpath d='M4 9h2.5' /%3E%3Cpath d='M11 9l3 11l4 -9' /%3E%3Cpath d='M5.5 9l3.5 11l3 -7' /%3E%3Cpath d='M18 11c.177 -.528 1 -1.364 1 -2.5c0 -1.78 -.776 -2.5 -1.875 -2.5c-.898 0 -1.125 .812 -1.125 1.429c0 1.83 2 2.058 2 3.571z' /%3E%3Cpath d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0' /%3E%3C/svg%3E%0A");
    }
    &.icon-bluesky::after{
        background-image: url("data:image/svg+xml,%3C!--%0Acategory: Brand%0Aversion: '2.45'%0Aunicode: 'fd75'%0A--%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%0A%3E%3Cpath d='M6.335 5.144c-1.654 -1.199 -4.335 -2.127 -4.335 .826c0 .59 .35 4.953 .556 5.661c.713 2.463 3.13 2.75 5.444 2.369c-4.045 .665 -4.889 3.208 -2.667 5.41c1.03 1.018 1.913 1.59 2.667 1.59c2 0 3.134 -2.769 3.5 -3.5c.333 -.667 .5 -1.167 .5 -1.5c0 .333 .167 .833 .5 1.5c.366 .731 1.5 3.5 3.5 3.5c.754 0 1.637 -.571 2.667 -1.59c2.222 -2.203 1.378 -4.746 -2.667 -5.41c2.314 .38 4.73 .094 5.444 -2.369c.206 -.708 .556 -5.072 .556 -5.661c0 -2.953 -2.68 -2.025 -4.335 -.826c-2.293 1.662 -4.76 5.048 -5.665 6.856c-.905 -1.808 -3.372 -5.194 -5.665 -6.856z' /%3E%3C/svg%3E%0A");
    }
}
.footer{
    text-align: center;
}