:root{
    /* 担当 */
    --primary-color: #B63B40;
    --secondary-color: #B6DDE4;

    /* 好き（みんな好き） */
    --brack: #515558;
    --white: #FBFAFA;

    --link-color: color-mix(in srgb, var(--primary-color) 70%, var(--brack));
    --icon-size: 1.25em;
    --text-underline-offset: 3px;
}
body{
    color: var(--brack);
    background-color: var(--white);
    line-height: 1.8;
}
h1{
    font-size: 1.7em;
    margin-bottom: 0.4em;
    padding: 8px 0;
    background-color: color-mix(in srgb, var(--secondary-color) 60%,var(--white));
}
h2{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
    padding: 3px 5px;
    border-bottom: 3px dashed var(--secondary-color);
}
h3{
    font-size: 1.3em;
    padding-left: 5px;
    border-left: 8px solid var(--secondary-color);
}
hr{
    color: color-mix(in srgb, var(--brack) 60%, var(--secondary-color));
}
p{
    margin-bottom: 0.3em;
}
a,
.btn.btn-link{
    text-underline-offset: var(--text-underline-offset);
    color: var(--link-color) !important;
    padding-left: 0 !important;

    &:hover{
        opacity: 0.75;
    }
}
/*
 *  Tabler Icons | https://github.com/tabler/tabler-icons | MIT license
 */
svg{
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: var(--link-color);
    margin-top: var(--text-underline-offset);
    margin-left: 4px;
}
.footer{
    text-align: center;
}